main::-webkit-scrollbar {
    display: none;
}
/* Default styling */
:root{
    --bg_color_1 : #070130;
    --bg_color_2: #0d0065;
    --bg_color_3: #222b5c;
    --bg_music_bar: #2b2b2a;
    --font_color_1: white;
    --font_color_2: lightgrey;
    --font_color_3 : #1DB954;
}
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 20px 0px 0px 20px;
	height: 100%;
    width: 98%;
    background-color: var(--bg_color_1);
}
main{
	margin-left: 0;
	margin-right: 0;
    height: 100%;
    width: 65%;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}
aside{
	height:auto;
	width:28%;
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	padding: 0px;
	margin-left: 3%;
	margin-top:5%;
	vertical-align: top; /*Ensures that aside is displayed right beside main at the top*/
}

.hide{
	display: none; /*This class hides any div that it is applie to*/
}
#item-button{
	margin-top: 0%;
	position: relative;
	top:37%;
}
.main-header {
    margin:-20px;
	height: 4rem;
	width:100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
    align-items: center;
	position: fixed;
	z-index: 1; /*Navigation bar should be always at top z-index ensures that*/
	background-color: var(--bg_color_1);
}

.website-logo {
	/* margin-top: 1%; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 18%;
}
.website-logo img {
    width: 200px;
    height: 60px;
    border-radius: 2.5rem;
    margin-right: 0.8rem;
    max-height: 6rem;
    max-width: 18rem;
}
.fav {
    color: #CECFD3;
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: 25px;
}
.fav:hover{
	color: #fff;
	cursor: pointer;

}
.searchbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.search-bar {
    padding: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #12183F;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-right: 4rem;
}
.search-bar input {
    font-size: 1.1rem;
    padding: 0.6rem;
    padding-left: 0.1rem;
    background-color: transparent;
    width: 80%;
    height: 0.7rem;
    border: 0;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    color: white;
}
.search-bar input:focus {
    outline: none;
}
.search-bar i {
    color: white;
}
.profile-photo {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 2.5rem;
}
.bell {
    color: #E7E7E6;
    margin-right: 50px;
}
#artist-template{
	height: 60vh;
	width: 95%;
	background-color: var(--bg_color_2);
	margin-top: 5%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#artist-image{
	height: 55vh;
	width: 40%;
	background: linear-gradient(to bottom, rgba(13,0,101,0) 10%,
              rgba(13,0,101,1)),url(Images/One\ Direction\ 3.jpg); /*Adding linear gradient*/
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}


#artist-details{
	height: 60vh;
	width: 54%;
	display: flex;
	flex-direction: column;
	margin-right: 3%;
	margin-left: 1%;
}

#artist-title{
	height: 20%;
	width: 100%;
	margin-top: 13%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
}

#artist-title b{
	font-size: 1.5rem;
}
#artist-title followers{
	font-size: 0.9rem;
	color: var(--font_color_2);
	margin-top: 1.5%;
}

#artist-title artist-type{
	font-size: 0.9rem;
	color: var(--font_color_2);
	font-weight: bold;
	margin-top: 1rem;
	padding: 0.5rem;
}

#artist-intro{
	font-family: helvetica, sans-serif;
	color: var(--font_color_2);
	font-size: 0.9rem;
	text-align: justify;
	width: 94%;
}

#artist-buttons{
	height: auto;
	width: 55%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 10%;
}

#playall-button{
	height: 2.2rem;
	width: 9rem;
	background-image: linear-gradient(to right, #3725B1, #4126B3, #522CB8, #6F33C2, #7B36C7, #973CD0, #A641D7, #B846DD, #C148DF);
	color: white;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.4rem;
    padding-top: 4%;
}
#follow-button{
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
}
/*Artist Template End*/
/*Artist Songs Begining*/
#artist-songs{
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 3%;
}
#tracks{
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
	font-size: 0.8rem;
	margin-top: 0.5rem;
}
#song{
	height: 12vh;
	width: 95%;
	min-width: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background-color: var(--bg_color_3);
	margin-bottom: 2%;
}
#song img{
	height: 10vh;
	width: 10vh;
	margin-left: 2vw;
}

#song-number{
	font-family: helvetica, sans-serif;
	color: var(--font_color_2);
    margin-left: 1vw;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
}

#icons{
	height: auto;
	width: 4vw;
	color: var(--font_color_2);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: space-between;
	padding-right: 2%;
}

#song-details{
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
	font-weight: bold;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 2vw;
	font-size: 0.95rem;
}
#song-details author{
	font-family: helvetica, sans-serif;
	color: var(--font_color_2);
	font-size: 0.8rem;
	margin-top: 1vh;
}

#aside-header-1{
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
	font-size: 1.6rem;
	font-weight: bolder;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-right: 5vw;
	width: 90%;
}

#aside-header-1 x{
	font-family: helvetica, sans-serif;
	color: var(--font_color_2);
	font-size: 0.9rem;
}

#similar-artist{
	height: 20vh;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 1.5rem;
	color: var(--font_color_1);
	font-size: 1.3rem;
	margin-bottom: -1.5rem;
}

.artist-img{  
   height: 15vh;
   width: 15vh;
   background-position: center;
   background-size: 100% 100%;
   margin-right: -0.5rem;
}
#artist-img-1{
    background-image: url(Images/The\ Wanted-2.jpg);
}
#artist-img-2{
    background-image: url(Images/Meet_the_Vamps_by_The_Vamps.png);
}
#artist-img-3{
    background-image: url(Images/ColdPlay.jpg);
}
#similar-artist i{
	margin-left: 8vw;
}

#aside-header-2{
	font-family: helvetica, sans-serif;
	color: var(--font_color_1);
	font-size: 1.5rem;
	font-weight: bolder;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-right: 5vw;
	width: 90%;
	margin-top: 2.5rem;
}

#aside-header-2 x{
	font-family: helvetica, sans-serif;
	color: var(--font_color_2);
	font-size: 0.9rem;
}

aside #song{
	align-items: center;
	margin-top: 1.5rem;
	margin-bottom: -1rem;
	background-color: var(--bg_color_1);
}

aside #song #song-details{
	font-size: 0.8rem;
}

aside #song #song-number{
	width: 70%;
	margin-top: 0.3rem;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgb(51, 50, 50);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
	margin-left: -1.2rem;
	padding: 0.5rem;
}

#footer-song-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 20%;
}

#footer-song-info>div {
    margin: 0.5vh;
}

#footer-song-image {
    height: 3.5rem;
    width: 3.5rem;
    margin: 1vh;
    background: url("Images/Messin\ Around.webp") center no-repeat;
    background-size: contain;
	
}

#footer-song-name {
    height: 6vh;
	font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	padding-right: 2rem;
	color: #fff;
}

#Ban {
    color: lightgrey;
    font-size: 1rem;
}
.subtitle {
    color: #C0C0C0;
    font-size: 0.9rem;
    margin: 0.1rem;
}


/*Player Controls*/


/* Pause, Next, Shuffle &other Icons and Slider Styling*/

#player {
    width: 40%;
    min-width: 200px;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#player>div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#player-control {
    width: 50%;
	color: whitesmoke;
}

#player-slider-container {
    width: 100%;
	
}

input[type="range"] {
    width: 80%;
}


/*Player Extras*/

.player-extras {
    display: flex;
    width: 20%;
    min-width: 115px;
    justify-content: space-around;
    align-items: center;
	color: whitesmoke;
}

.volume-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#volume-slider {
    width: 80%;
}
#queue-favourite{
    color: lightgrey;
	font-size: 1rem;
	margin-right: 8px;
}
#queue-favourite:hover{
	color: red;
	transition: all 0.3s ease-in-out;
}
#queue-favourite:hover,#Ban:hover{
	color: rgb(241, 10, 10);
	transition: all 0.2s ease-in-out;
}
